
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}

h1 {
    background-color: #735F32;
    color: white;
    text-align: center;
    padding: 20px 20px;
}

h2 {
    color:#12372A;
    padding: 5px;
    text-align: center;
}

.bgnav {
    background-color: #F6FDC3;

}

.parrafo {
    text-align: left;
    padding: 6px;
}

.card-body {
    padding: 5px;
    margin: 10px;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: row;
    gap: 10px;
    background-color:#12372A;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    
}

.box {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 5px solid  #735F32;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grilla {
    display: grid;
    justify-content: center;
    grid-template-columns: 200px 400px;
    grid-template-rows: 300x;
    background-color:black;
    padding: 10px;
    gap: 20px;
    grid-template-areas: 
    'a1 a2'
    'a3 a2'
    ;
}

.grilla1 {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    background-color:black;
    padding: 10px;
    gap: 20px;
    grid-template-areas: 
    'a1 a2 a3'
    'a4 a5 a6'
    ;
}

.grilla2 {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(5,1fr);
    background-color:black;
    padding: 10px;
    gap: 20px;
    grid-template-areas: 
    'a1 a1 a1'
    'a4 a4 a4'
    'a7 a7 a7'
    'a10 a10 a10'
    'a13 a13 a13'
    ;
}

.grilla3 {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows:auto;
    background-color:black;
    padding: 10px;
    gap: 20px;
    grid-template-areas: 
    'a1 a2 a3 a4 a5'
    'a1 a2 a3 a4 a5'
    ;
}

.b1 {
    grid-area: a1;
}

.b2 {
    grid-area: a2;
}

.b3 {
    grid-area: a3;
}

.b4 {
    grid-area: a1;
}

.b5 {
    grid-area: a2;
}

.b6 {
    grid-area: a3;
}

.b7 {
    grid-area: a4;
}

.b8 {
    grid-area: a5;
}

.b9 {
    grid-area: a6;
}

.b10 {
    grid-area: a1;
}

.b11 {
    grid-area: a4;
}

.b12 {
    grid-area: a7;
}

.b13 {
    grid-area: a10;
}

.b14 {
    grid-area: a13;
}

.b15 {
    grid-area: a1;
}

.b16 {
    grid-area: a2;
}

.b17 {
    grid-area: a3;
}

.b18 {
    grid-area: a4;
}

.b19 {
    grid-area: a5;
}

.img {
height: 100px;
width: 100px;
border: 5px solid white;
}

.imagencultura {
    height: 180px;
    width: 180px;
    border: 2px solid white; 
}

@media (max-widht:1024px) {
    .grilla2 {
        grid-template-columns: repeat (1, 1fr);
    }
}
.footer {
    background-color: #735F32;
    text-align: center;
    padding: 30px;
    border-top: 2px solid white;
}

